.container {
  width: 89%;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    width: 99%;
  }
}

.btn {
  font-size: 36px;
  color: #EFE7E2;
  font-style: italic;
  font-weight: bold;
  background: #472C2C;
  border-radius: 5px;
  display: inline-block;
  padding: 1rem 3rem;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition-property: color,background;
  transition-property: color,background;
}

.btn:hover {
  color: #472C2C;
  background: #A0B98D;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #EFE7E2;
  width: 100%;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  position: relative;
}

.pop-up {
  position: absolute;
  z-index: 1000;
  width: 1000px;
  height: 291px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
  top: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  display: none;
}

.pop-up img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pop-up .text {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #472C2C;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pop-up .text h2 {
  color: #EFE7E2;
  font-size: 32px;
}

.pop-up .text p {
  font-size: 20px;
  text-align: center;
  width: 80%;
  color: #EFE7E2;
  margin: 20px 0;
}

.pop-up .text img {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10px;
  cursor: pointer;
  right: 10px;
}

.pop-up .text .form-cont {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pop-up .text .form-cont input {
  height: 42px;
  position: relative;
  width: 400px;
  border: 2px solid #EFE7E2;
  padding: 0 10px;
  outline: none;
  border-radius: 5px;
  background: transparent;
  color: #EFE7E2;
  font-size: 15px;
}

.pop-up .text .form-cont .btn {
  position: absolute;
  font-size: 24px;
  background: #EFE7E2;
  color: #472C2C;
  height: 42px;
  width: 200px;
  text-align: center;
  padding: 0px;
  line-height: 42px;
  right: 30px;
}

.pop-up.active {
  opacity: 1;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.border {
  width: 100%;
  background: #efe6e187;
  height: 63px;
}

.border .line {
  width: 100%;
  height: 3px;
  background: #472C2C;
  margin-top: 50px;
}

.border .line.line-bot {
  margin-top: 10px;
  margin-bottom: 50px;
}

#hero {
  min-height: 100vh;
}

#hero .delivery {
  position: relative;
  z-index: 500;
  height: 34px;
  background: #291919;
}

#hero .delivery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#hero .delivery .container .left, #hero .delivery .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#hero .delivery .container .left h3, #hero .delivery .container .right h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #A0B98D;
}

#hero .delivery .container .left img, #hero .delivery .container .right img {
  height: 32px;
  width: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
}

#hero nav {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 15;
  background: #EFE7E2;
}

#hero nav .burger {
  height: 34px;
  width: 55px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

#hero nav .burger .line {
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background: #A0B98D;
}

#hero nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#hero nav .container .menu,
#hero nav .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#hero nav .container .menu h1,
#hero nav .container .logo h1 {
  font-family: "Satisfy", cursive;
  font-size: 40px;
  color: #472C2C;
  margin-left: 10px;
}

#hero nav .container .menu img,
#hero nav .container .logo img {
  height: 56px;
  width: 56px;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero nav .container .menu li a,
#hero nav .container .logo li a {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  color: #472C2C;
  font-weight: 500;
  margin-right: 50px;
  position: relative;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

#hero nav .container .menu li a::after,
#hero nav .container .logo li a::after {
  content: '';
  position: absolute;
  width: 0%;
  right: 0px;
  bottom: -5px;
  -webkit-transform-origin: right;
          transform-origin: right;
  height: 5px;
  border-radius: 50px;
  background: #A0B98D;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition-property: width, font-weight;
  transition-property: width, font-weight;
}

#hero nav .container .menu li a:hover,
#hero nav .container .logo li a:hover {
  color: #A0B98D;
  font-weight: bold;
}

#hero nav .container .menu li a:hover::after,
#hero nav .container .logo li a:hover::after {
  width: 127%;
}

#hero .carousel {
  width: 100%;
  height: 905px;
  position: relative;
  overflow: hidden;
}

#hero .carousel .showcase {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
  background: #472C2C;
  height: 190px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#hero .carousel .showcase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#hero .carousel .showcase .container .eco {
  text-align: center;
  width: 319px;
  height: 170px;
  padding: 0px 30px;
}

#hero .carousel .showcase .container .eco img {
  height: 86px;
  width: 86px;
}

#hero .carousel .showcase .container .eco h3 {
  color: #A0B98D;
  margin: 5px 0;
}

#hero .carousel .showcase .container .eco p {
  color: #EFE7E2;
}

#hero .carousel .mover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#hero .carousel .mover .moved {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

#hero .carousel .mover .moved .box {
  margin: 0 auto;
  height: 323px;
  width: 751px;
  border-radius: 5px;
  background: #efe6e187;
  padding: 1rem;
}

#hero .carousel .mover .moved .box .line {
  width: 100%;
  height: 100%;
  border: 5px solid #472C2C;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #472C2C;
}

#hero .carousel .mover .moved .box .line h2 {
  font-size: 36px;
  font-style: italic;
}

#hero .carousel .mover .moved .box .line p {
  font-size: 20;
  font-weight: 300;
  margin: 30px 0px;
}

@media (max-width: 1000px) {
  #hero .delivery {
    height: 70px;
  }
  #hero .delivery .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #hero .delivery .container .left h3, #hero .delivery .container .right h3 {
    font-size: 15px;
  }
  #hero nav {
    z-index: 50;
    position: relative;
  }
  #hero nav .burger {
    height: 34px;
    width: 55px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hero nav .burger .line {
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background: #A0B98D;
  }
  #hero nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #hero nav .container .menu {
    z-index: -1;
    position: absolute;
    top: -300px;
    width: 100%;
    height: 300px;
    left: 0;
    background: #EFE7E2;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .5s ease top;
    transition: .5s ease top;
  }
  #hero nav .container .menu li {
    margin: 10px 0;
  }
  #hero nav .container .menu li a {
    display: inline-block;
  }
  #hero nav .container .menu.active {
    top: 64px;
  }
  #hero .carousel .showcase {
    height: 100px;
  }
  #hero .carousel .showcase .container .eco {
    text-align: center;
    width: 319px;
    height: 100px;
    padding: 0px 5px;
  }
  #hero .carousel .showcase .container .eco img {
    height: 60px;
    width: 60px;
  }
  #hero .carousel .showcase .container .eco p {
    display: none;
  }
  #hero .carousel .mover .moved .box {
    width: 451px;
  }
  #hero .carousel .mover .moved .box .line h2 {
    font-size: 26px;
  }
  #hero .carousel .mover .moved .box .line p {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0px;
  }
}

@media (max-width: 600px) {
  #hero .delivery {
    height: 100px;
  }
  #hero .delivery .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #hero .delivery .container .left h3, #hero .delivery .container .right h3 {
    font-size: 15px;
  }
  #hero .carousel .mover .moved .box {
    width: 300px;
    height: 400px;
  }
  #hero .carousel .mover .moved .box .line h2 {
    font-size: 26px;
  }
  #hero .carousel .mover .moved .box .line p {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0px;
  }
  #hero .carousel .mover .moved .box .line .btn {
    font-size: 15px;
  }
  #hero .carousel .showcase {
    height: 50px;
  }
  #hero .carousel .showcase .container .eco {
    text-align: center;
    width: 219px;
    height: 50px;
    padding: 0px 1px;
  }
  #hero .carousel .showcase .container .eco img {
    height: 40px;
    width: 40px;
  }
  #hero .carousel .showcase .container .eco h3 {
    display: none;
  }
}

#business {
  min-height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#210d0d57), to(#210d0d57)), url(weoeoeo.jpg);
  background: linear-gradient(0deg, #210d0d57, #210d0d57), url(weoeoeo.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#business .text {
  height: 409px;
  width: 620px;
  text-align: center;
  color: #EFE7E2;
  font-weight: 400;
}

#business .text h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

#business .text p {
  font-size: 20px;
  line-height: 25px;
}

@media (max-width: 1010px) {
  #business .text {
    height: 450px;
    width: 380px;
  }
  #business .text h1 {
    font-size: 30px;
  }
  #business .text p {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  #business .text {
    height: 90%;
    width: 100%;
  }
  #business .text h1 {
    font-size: 30px;
  }
  #business .text p {
    font-size: 15px;
  }
}

#endorements {
  min-height: 124px;
  width: 100%;
  background: #472C2C;
}

#endorements .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#endorements .container h2 {
  font-size: 20px;
  font-weight: 400;
  color: #EFE7E2;
  margin: 10px 0;
}

#endorements .container .images {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#endorements .container .images img {
  height: 95px;
  width: 95px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1010px) {
  #endorements .container .images img {
    height: 55px;
    width: 55px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 600px) {
  #endorements .container .images {
    width: 100%;
  }
  #endorements .container .images img {
    height: 45px;
    width: 45px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#products {
  min-height: 100vh;
  width: 100%;
}

#products .container {
  height: 60%;
}

#products .container h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0;
  color: #472C2C;
  text-align: center;
}

#products .container .product-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 436px 300px;
      grid-template-rows: 436px 300px;
  row-gap: 30px;
}

#products .container .product-container .product {
  text-align: center;
  background: #472C2C;
  height: 436px;
  width: 231px;
  cursor: pointer;
  border-radius: 5px;
}

#products .container .product-container .product .top {
  width: 100%;
  position: relative;
}

#products .container .product-container .product .top .container-links {
  position: absolute;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  background: #472C2C;
  top: 0;
  height: 99%;
  width: 47px;
  right: 0px;
  border-radius: 30px 0  0 30px;
  text-align: center;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

#products .container .product-container .product .top .container-links img {
  width: 35px;
  height: 35px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

#products .container .product-container .product .top img {
  width: 100%;
  height: 301px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
  border: 3px solid #472C2C;
}

#products .container .product-container .product .top:hover .container-links {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#products .container .product-container .product .bottom {
  width: 100%;
  text-align: center;
  color: #EFE7E2;
  padding: 5px;
  height: 118px;
}

#products .container .product-container .product .bottom h3 {
  font-size: 20px;
  font-weight: 300;
}

#products .container .product-container .product .bottom p {
  font-size: 13px;
  margin: 10px 0;
}

#products .container .product-container .product .bottom .line {
  background: #EFE7E2;
  width: 100%;
  height: 2px;
}

#products .container .product-container .piccoli {
  grid-column: span auto, span 1;
  -ms-grid-column-align: center;
      justify-self: center;
}

#products .container .product-container .ammenicoli {
  grid-column: auto/ span 2;
  width: 100%;
  height: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#products .container .product-container .ammenicoli .top {
  height: 231px;
}

#products .container .product-container .ammenicoli .top img {
  height: 100%;
  border-radius: 5px;
}

#products .container .product-container .ammenicoli .bottom {
  height: 100%;
}

#products .container .product-container .ammenicoli:nth-child(odd) {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/ span 2;
}

#products .container .product-container .image {
  height: 231px;
}

#products .container .product-container .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#products .more {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#products .more .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
  position: relative;
}

#products .more .cont h2 {
  font-size: 30px;
  color: #472C2C;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition-property: color;
  transition-property: color;
  cursor: pointer;
}

#products .more .cont img {
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition-property: opacity, left;
  transition-property: opacity, left;
}

#products .more .cont:hover h2 {
  color: #A0B98D;
}

#products .more .cont:hover img {
  opacity: 1;
  left: 80%;
}

@media (max-width: 1300px) {
  #products .container .product-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 436px 436px 301px;
        grid-template-rows: 436px 436px 301px;
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  #products .container .product-container .product {
    width: 100%;
  }
  #products .container .product-container .product h3 {
    line-height: 16px;
  }
  #products .container .product-container .product p {
    font-size: 5px;
    line-height: 13px;
  }
  #products .container .product-container .ammenicoli {
    grid-column: auto/ span 1;
    width: 200%;
    height: 231px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-self: start;
  }
  #products .container .product-container .ammenicoli.primo {
    grid-column: auto/ span 1;
    grid-row: auto/ span 2;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 436px;
  }
  #products .container .product-container .ammenicoli.primo .top {
    height: 301px;
  }
  #products .container .product-container .ammenicoli.primo .top img {
    width: 100%;
    height: 301px;
  }
  #products .container .product-container .ammenicoli.primo .top .container-links img {
    height: 35px;
    width: 35px;
  }
  #products .container .product-container .ammenicoli.primo .bottom {
    height: 100%;
  }
  #products .container .product-container .ammenicoli .top {
    height: 231px;
  }
  #products .container .product-container .ammenicoli .top img {
    height: 100%;
    border-radius: 5px;
  }
  #products .container .product-container .ammenicoli .bottom {
    height: 100%;
  }
}

#reviews {
  background: #472C2C;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#reviews .border {
  background-color: #EFE7E2;
}

#reviews .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 322px 322px;
      grid-template-rows: 322px 322px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#reviews .container .review {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 322px;
  position: relative;
  cursor: pointer;
}

#reviews .container .review img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#reviews .container .review .text {
  position: absolute;
  bottom: 0%;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #210d0d57;
  text-align: center;
  color: #EFE7E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: .9s ease;
  transition: .9s ease;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#reviews .container .review .text h1 {
  font-size: 25px;
  font-weight: 400;
  color: #EFE7E2;
}

#reviews .container .review .text p {
  margin: 10px auto;
  font-size: 15px;
  max-width: 70%;
}

#reviews .container .review .text .stars img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

#reviews .container .review:hover .text {
  opacity: 1;
}

#reviews .container .review:nth-child(1) {
  grid-column: span 2;
}

#reviews .container .review:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
  height: 100%;
}

#reviews .container .review:nth-child(8) {
  grid-column: span 2;
}

@media (max-width: 1400px) {
  #reviews .container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 220px 90px 104px 104px;
        grid-template-rows: 220px 90px 104px 104px;
  }
  #reviews .container .review {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 220px;
  }
  #reviews .container .review img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
  #reviews .container .review .text h1 {
    font-size: 20px;
  }
  #reviews .container .review .text p {
    display: none;
  }
  #reviews .container .review .text .stars img {
    width: 12px;
    height: 12px;
  }
  #reviews .container .review:hover .text {
    opacity: 1;
  }
  #reviews .container .review:nth-child(1) {
    grid-column: span 2;
  }
  #reviews .container .review:nth-child(4) {
    grid-column: span 2;
  }
  #reviews .container .review:nth-child(5) {
    grid-column: span 6;
    grid-row: span 1;
    height: 100%;
  }
  #reviews .container .review:nth-child(6) {
    grid-row: span 2;
  }
  #reviews .container .review:nth-child(7) {
    grid-row: span 2;
  }
  #reviews .container .review:nth-child(8) {
    grid-row: span 1;
    grid-column: span 4;
    height: 104px;
  }
  #reviews .container .review:nth-child(9) {
    grid-row: span 1;
    grid-column: span 4;
    height: 104px;
  }
}

@media (max-width: 600px) {
  #reviews {
    min-height: 600px;
  }
  #reviews .container {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 63px 103px 63px 68px 68px;
        grid-template-rows: 63px 103px 63px 68px 68px;
    row-gap: 20px;
  }
  #reviews .container .review {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 103px;
  }
  #reviews .container .review img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
  #reviews .container .review .text h1 {
    font-size: 20px;
  }
  #reviews .container .review .text p {
    display: none;
  }
  #reviews .container .review .text .stars img {
    width: 12px;
    height: 12px;
  }
  #reviews .container .review:hover .text {
    opacity: 1;
  }
  #reviews .container .review:nth-child(1) {
    grid-column: span 2;
  }
  #reviews .container .review:nth-child(3) {
    grid-column: span 2;
  }
  #reviews .container .review:nth-child(4) {
    grid-column: span 5;
    -ms-grid-row: 1;
    grid-row: 1;
    height: 63px;
  }
  #reviews .container .review:nth-child(4) .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #reviews .container .review:nth-child(5) {
    grid-column: span 5;
    grid-row: span 1;
    height: 63px;
  }
  #reviews .container .review:nth-child(5) .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #reviews .container .review:nth-child(6) {
    grid-row: span 2;
    height: 100%;
  }
  #reviews .container .review:nth-child(7) {
    grid-row: span 2;
    height: 100%;
  }
  #reviews .container .review:nth-child(8) {
    grid-row: span 1;
    grid-column: span 3;
    height: 68px;
  }
  #reviews .container .review:nth-child(8) .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #reviews .container .review:nth-child(9) {
    grid-row: span 1;
    grid-column: span 3;
    height: 68px;
  }
  #reviews .container .review:nth-child(9) .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#newsletter {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#482d2dab), to(#482d2dab)), url(jeremy-bezanger-CdnvzLzZVUQ-unsplash.jpg);
  background: linear-gradient(0deg, #482d2dab, #482d2dab), url(jeremy-bezanger-CdnvzLzZVUQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  min-height: 110px;
}

#newsletter .container {
  padding: 10px 0;
}

#newsletter .container .email-container {
  height: 63px;
  position: relative;
  width: 600px;
}

#newsletter .container .email-container h4 {
  color: #EFE7E2;
}

#newsletter .container .email-container input {
  height: 63px;
  width: 600px;
  position: absolute;
  left: 0;
  top: 25px;
  outline: none;
  border-radius: 5px 5px 5px 5px;
  border-radius: 5px solid #472C2C;
  padding: 0 5px;
}

#newsletter .container .email-container .btn {
  position: absolute;
  height: 63px;
  line-height: 63px;
  padding: 0px 20px;
  border-radius: 0px 5px 5px 0px;
  top: 25px;
  right: 0;
  cursor: pointer;
}

@media (max-width: 700px) {
  #newsletter {
    min-height: 220px;
  }
  #newsletter .container {
    padding: 10px 0;
  }
  #newsletter .container .email-container {
    height: 100%;
    position: relative;
    width: 400px;
  }
  #newsletter .container .email-container h4 {
    color: #EFE7E2;
  }
  #newsletter .container .email-container input {
    height: 43px;
    width: 300px;
    left: 0;
    top: 65px;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #472C2C;
    padding: 0 5px;
  }
  #newsletter .container .email-container .btn {
    height: 43px;
    line-height: 43px;
    padding: 0px 0px;
    border-radius: 5px 5px 5px 5px;
    top: 135px;
    font-size: 20px;
    left: 0;
    width: 200px;
    cursor: pointer;
    text-align: center;
  }
}

#footer {
  background: #472C2C;
  height: 300px;
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
}

#footer p {
  text-align: center;
  color: #EFE7E2;
  margin-top: 3px;
}

#footer .container {
  display: -ms-grid;
  display: grid;
  color: #EFE7E2;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 60px 200px;
      grid-template-rows: 60px 200px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#footer .container .big {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-bottom: auto;
}

#footer .container .big h3 {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

#footer .container .big .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer .container .big .logo h3 {
  font-family: "Satisfy", cursive;
}

#footer .container .big input {
  outline: none;
  font-size: 20px;
  color: #EFE7E2;
  padding: 0px 3px;
  height: 62px;
  width: 80%;
  margin: 10px 0;
  background: #472C2C;
  border-radius: 5px;
  border: 3px solid #EFE7E2;
}

#footer .container .big .btn {
  padding: 0px 40px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  background: #EFE7E2;
  color: #472C2C;
  -webkit-transition: .5s ease background;
  transition: .5s ease background;
}

#footer .container .big .btn:hover {
  background: #A0B98D;
}

#footer .line {
  width: 100%;
  height: 3px;
  background: #EFE7E2;
}

@media (max-width: 1300px) {
  #footer .container {
    display: -ms-grid;
    display: grid;
    color: #EFE7E2;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 60px 200px;
        grid-template-rows: 60px 200px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  #footer .container .small h3,
  #footer .container .big h3 {
    line-height: 50px;
    font-size: 20px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 1100px) {
  #footer {
    height: 500px;
  }
  #footer .container {
    display: -ms-grid;
    display: grid;
    color: #EFE7E2;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 15px;
            column-gap: 15px;
    text-align: start;
  }
  #footer .container .big {
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: start;
  }
  #footer .container .big .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #footer .container .big h3 {
    line-height: 50px;
    font-size: 20px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  #footer .container .big p {
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: start;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */